<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="m-1">Welcome back!</h1>
                </div>
                <div class="card-body">
                    <p>Please log in or sign up to continue.</p>
                    <div class="text-center">
                        <a routerLink="/auth/login" class="btn btn-primary m-1">Log In</a>
                        <a routerLink="/auth/signup" class="btn btn-success m-1">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- utl ->  auth -> auth page

1. signUp
    store signed up user in the service (db)
2. login
 -->

