<div class="container-fluid p-0">
  <div
    class="jumbotron bg-orange border rounded shadow-lg p-3 d-flex align-items-center"
    style="height: 100vh"
  >
    <div class="row w-100">
      <div class="col-md-6 pl-5">
        <h1 class="display-4 mb-4">Welcome to Employee Hub!</h1>
        <p class="lead mb-4" style="font-size: 1.2rem; line-height: 1.6">
          Created by a passionate junior developer. Dive into the world of employee management. We hope you find it intuitive and user-friendly!
        </p>
        <div>
          <div class="mb-0">
            <a class="btn btn-outline-primary my-2 my-sm-0" href="employees" role="button"
              >View Employee List</a
            >
            
              <a class="btn btn-outline-primary bg-dark my-2 my-sm-0" href="auth" role="button"
                >Log In</a
              >
            
        </div>
       
        </div>
      </div>

      <div class="col-md-6 text-center">
        <img
          src="assets/images/home-pic.png"
          alt="Employee Hub"
          class="img-fluid w-50"
        />
      </div>
    </div>
  </div>

  <div class="container-fluid card-container  p-0">
    <div class="text-center py-5">
      <h2 class="display-4">Discover Our Features</h2>
      <p class="lead">Explore the core functionalities of Employee Hub and enhance your management experience.</p>
    </div>
  
    <div class="row mt-3 justify-content-between p-3">
      <div class="col-md-4">
        <div class="card custom-card mb-4 shadow h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Manage Employees</h5>
            <p class="card-text mb-auto">
              View, edit, or delete employee data with ease. Our intuitive interface ensures that you can manage your team without any hassle.
            </p>
            <a href="/employees" class="btn btn-custom mt-3">
              <i class=" mb-3"></i>
              Learn More
            </a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card custom-card mb-4 shadow h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Add New Employee</h5>
            <p class="card-text mb-auto">
              Seamlessly add new employees to the system. Our step-by-step guide ensures that you can onboard new members with ease.
            </p>
            <a href="/employees/add" class="btn btn-custom mt-3">
              <i class=" mb-3"></i> Add Employee
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>


