<div class="container mt-4">
  <div class="action-buttons">
    <a routerLink="/employees" class="btn action-btn back-btn">Back to List</a>
    <a (click)="deleteEmployee()" class="btn action-btn delete-btn">Delete Employee</a>
    <button class="btn action-btn edit-btn" (click)="onEditClick()">Edit</button>
  </div>
  
  <div class="profile-card">
    <div class="profile-header">
      <img [src]="employee?.image" alt="{{ employee?.name }}" class="profile-image" />
      <h3>{{ employee?.name }}</h3>
    </div>
    
    <div class="profile-content" *ngIf="!isEditing; else editingEmployee">
      <div class="info-section">
        <strong>Email:</strong>
        <p>{{ employee?.email }}</p>
      </div>
      <div class="info-section">
        <strong>Phone:</strong>
        <p>{{ employee?.phone }}</p>
      </div>
      <div class="info-section">
        <strong>Birth Date:</strong>
        <p>{{ employee?.birthDate | date }}</p>
      </div>
      <div class="info-section">
        <strong>Education:</strong>
        <p>{{ employee?.education }}</p>
      </div>
      <div class="info-section">
        <strong>Department:</strong>
        <p>{{ employee?.department }}</p>
      </div>
      <div class="info-section">
        <strong>Salary:</strong>
        <p>{{ employee?.salary }}</p>
      </div>
      <div class="info-section">
        <strong>Home Office:</strong>
        <p>{{ employee?.homeOffice }}</p>
      </div>
      <div class="info-section">
        <strong>Start Date:</strong>
        <p>{{ employee?.startDate | date }}</p>
      </div>
    </div>
    <ng-template #editingEmployee>
      <div class="edit-section">
        <app-edit-employee (editFinished)="isEditing = false"></app-edit-employee>
      </div>
    </ng-template>
  </div>
</div>
